@model Nova.Models.BaseRequest
@using Nova.Models
@using Nova.common
@{
    ViewBag.Title = "Index";
    var selectedSubCategoryList = Session["SelectedSubCategoryList"] as List<SubCatgory>;
    var selectedCategory = Session["SelectedCategory"] as string;
    var selectedSubCategory = Session["SelectedSubCategory"] as string;
    var discountList = Session["discountsList"] as string;
    var myHtmlString = new HtmlString(discountList);
}


<br>
<div class="container">
    <div class="row">
        <div class="col-sm-3">

                <div class="well">
                    
                    <h3 class="text-bold text-primary">Discount Finder</h3>
                    Find the discounted retail shop in your locality...
                    <hr>
                    
                        <div class="row">Choose</div>
                        <div class="row row-m-t">
                            @Html.DropDownListFor(model => model.selectedCategory, Model.category, "Category", new { @class = "form-control", @onchange = "FillSubCatgory(this)" })
                        </div>
                        <div class="row row-m-t">
                            @if (selectedSubCategoryList != null)
                            {
                                <select class="form-control" id="selectedSubCategory" name="selectedSubCategory">
                                    @foreach (var item in selectedSubCategoryList)
                                    {
                                        <option value="@item.SubCatgorieId">@item.SubCatgorieName</option>
                                    }
                                </select>
                            }
                            else
                            {
                                    @Html.DropDownListFor(model => model.selectedSubCategory, Model.subCategory, "Sub Category", new { @class = "form-control" })
                             }
                        </div>
                        <div class="row">Locality</div>
                        <div class="row row row-m-t">
                            @Html.TextBoxFor(model => model.lookingAt, new { @class = "form-control", @placeholder = "Type location from list" })
                        </div>
                        <div class="row">Keyword/s (optional)</div>
                        <div class="row row row-m-t">
                            @Html.TextBoxFor(model => model.lookingFor, new { @class = "form-control", @placeholder = "e.g. Jeans or TV or Gym" })
                        </div>
                        <div class="row">Sort By:</div>
                        <div class="row row row-m-t">
                            @Html.DropDownListFor(model => model.lookingBy,
                                    new SelectList(Enum.GetValues(typeof(SortBy))), new { @class = "form-control" })
                        </div>
                        <div class="row">Search Till KM:</div>
                        <div class="row row row-m-t">
                            @Html.TextBoxFor(model => model.lookingTillDistance, new { @class = "form-control", @placeholder = "search distance in KM for eg 20" })
                        </div>
                        <hr>
                    <div class="row">
                        <div id="errorPane"  class="alert alert-danger">
                            <div id="error"></div>
                        </div>
                        <div id="infoPane" class="alert alert-info">
                            <div id="info"></div>
                        </div>
                    </div>
                        <div class="row">
                            <button  id="btnSearch" class="btn btn-success btn-block " onclick="searchDiscount()">Search</button>
                        </div>
                        @Html.HiddenFor(model => model.lookingAtLat)
                        @Html.HiddenFor(model => model.lookingAtLng)
                        
                </div>



        </div>

        <div class="col-sm-9">
            @if (string.IsNullOrEmpty(discountList))
            {
             <div id="banner">                
                                                 
                <div class="row">
                            <div class="content-box">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h5>Fashion and Style</h5>
                                    </div>                                    
                                </div>
                                <div id="carousel-fashion" class="carousel slide hidden-xs" data-ride="carousel">
                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                                                        <p style="text-align:center;">
                                                            <img src="http://static.tumblr.com/166ab215c9a0bb3ba1b98e810652c3db/pjmcbps/OHEmr2kqz/tumblr_static_dsc_0298lol.jpg" class="img-responsive" alt="">
                                                        </p>
                                                        <div class="caption">
                                                            <div class="blur"></div>
                                                            <div class="caption-text">
                                                                <h3 style="padding:10px;">Men Clothing</h3>
                                                                <p>Explorer the new brand and style with 50% Discount</p>
                                                                <a class="btn btn-info" data-Id="1" data-subId="101" onclick="getDiscount(this)">Explore</a>                                                                 
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                                                        <p style="text-align:center;">
                                                            <img src="http://static.tumblr.com/166ab215c9a0bb3ba1b98e810652c3db/pjmcbps/OHEmr2kqz/tumblr_static_dsc_0298lol.jpg" class="img-responsive" alt="">
                                                        </p>
                                                        <div class="caption">
                                                            <div class="blur"></div>
                                                            <div class="caption-text">
                                                                <h3 style="padding:10px;">Women Clothing</h3>
                                                                <p>Explorer the new brand and style with 50% Discount</p>
                                                                <a class="btn btn-info" data-Id="1" data-subId="102" onclick="getDiscount(this)">Explore</a> 
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                                                        <p style="text-align:center;">
                                                            <img src="http://static.tumblr.com/166ab215c9a0bb3ba1b98e810652c3db/pjmcbps/OHEmr2kqz/tumblr_static_dsc_0298lol.jpg" class="img-responsive" alt="">
                                                        </p>
                                                        <div class="caption">
                                                            <div class="blur"></div>
                                                            <div class="caption-text">
                                                                <h3 style="padding:10px;">Kids Clothing</h3>
                                                                <p>Explorer the new brand and style with 50% Discount</p>
                                                                <a class="btn btn-info" data-Id="1" data-subId="103" onclick="getDiscount(this)">Explore</a> 
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">

                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                                                        <p style="text-align:center;">
                                                            <img src="http://static.tumblr.com/166ab215c9a0bb3ba1b98e810652c3db/pjmcbps/OHEmr2kqz/tumblr_static_dsc_0298lol.jpg" class="img-responsive" alt="">
                                                        </p>
                                                        <div class="caption">
                                                            <div class="blur"></div>
                                                            <div class="caption-text">
                                                                <h3 style="padding:10px;">Men Footware</h3>
                                                                <p>Explorer the new brand and style with 50% Discount</p>
                                                                <a class="btn btn-info" data-Id="1" data-subId="105" onclick="getDiscount(this)">Explore</a> 
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                                                        <p style="text-align:center;">
                                                            <img src="http://static.tumblr.com/166ab215c9a0bb3ba1b98e810652c3db/pjmcbps/OHEmr2kqz/tumblr_static_dsc_0298lol.jpg" class="img-responsive" alt="">
                                                        </p>
                                                        <div class="caption">
                                                            <div class="blur"></div>
                                                            <div class="caption-text">
                                                                <h3 style="padding:10px;">WOMEN FOOTWARE</h3>
                                                                <p>Explorer the new brand and style with 50% Discount</p>
                                                                <a class="btn btn-info" data-Id="1" data-subId="107" onclick="getDiscount(this)">Explore</a> 
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                                                        <p style="text-align:center;">
                                                            <img src="http://static.tumblr.com/166ab215c9a0bb3ba1b98e810652c3db/pjmcbps/OHEmr2kqz/tumblr_static_dsc_0298lol.jpg" class="img-responsive" alt="">
                                                        </p>
                                                        <div class="caption">
                                                            <div class="blur"></div>
                                                            <div class="caption-text">
                                                                <h3 style="padding:10px;">KID FOOTWARE</h3>
                                                                <p>Explorer the new brand and style with 50% Discount</p>
                                                                <a class="btn btn-info" data-Id="1" data-subId="109" onclick="getDiscount(this)">Explore</a> 
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="item">

                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                                                        <p style="text-align:center;">
                                                            <img src="http://static.tumblr.com/166ab215c9a0bb3ba1b98e810652c3db/pjmcbps/OHEmr2kqz/tumblr_static_dsc_0298lol.jpg" class="img-responsive" alt="">
                                                        </p>
                                                        <div class="caption">
                                                            <div class="blur"></div>
                                                            <div class="caption-text">
                                                                <h3 style="padding:10px;">Men ACCESSIORES</h3>
                                                                <p>Explorer the new brand and style with 50% Discount</p>
                                                                <a class="btn btn-info" data-Id="1" data-subId="104" onclick="getDiscount(this)">Explore</a> 
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                                                        <p style="text-align:center;">
                                                            <img src="http://static.tumblr.com/166ab215c9a0bb3ba1b98e810652c3db/pjmcbps/OHEmr2kqz/tumblr_static_dsc_0298lol.jpg" class="img-responsive" alt="">
                                                        </p>
                                                        <div class="caption">
                                                            <div class="blur"></div>
                                                            <div class="caption-text">
                                                                <h3 style="padding:10px;">WOMEN ACCESSIORES</h3>
                                                                <p>Explorer the new brand and style with 50% Discount</p>
                                                                <a class="btn btn-info" data-Id="1" data-subId="106" onclick="getDiscount(this)">Explore</a> 
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                                                        <p style="text-align:center;">
                                                            <img src="http://static.tumblr.com/166ab215c9a0bb3ba1b98e810652c3db/pjmcbps/OHEmr2kqz/tumblr_static_dsc_0298lol.jpg" class="img-responsive" alt="">
                                                        </p>
                                                        <div class="caption">
                                                            <div class="blur"></div>
                                                            <div class="caption-text">
                                                                <h3 style="padding:10px;">KID ACCESSIORES</h3>
                                                                <p>Explorer the new brand and style with 50% Discount</p>
                                                                <a class="btn btn-info" data-Id="1" data-subId="108" onclick="getDiscount(this)">Explore</a> 
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="controls pull-left hidden-xs">
                                    <a class="left glyphicon glyphicon-chevron-left btn btn-primary btn-xs" href="#carousel-fashion"
                                       data-slide="prev"></a>                                    
                                </div>
                                    <div class="controls pull-right hidden-xs">
                                        <a class="right glyphicon glyphicon-chevron-right btn btn-primary btn-xs" href="#carousel-fashion"
                                           data-slide="next"></a>
                                    </div>
                                </div>
                        </div>    
                <br>
                <div class="row">
                    <div class="content-box">
                        <div class="row">
                            <div class="col-md-9">
                                <h5>Electronic Items</h5>
                            </div>
                        </div>
                        <div id="carousel-Electronic" class="carousel slide hidden-xs" data-ride="carousel">
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                                                <p style="text-align:center;">
                                                    <img src="http://static.tumblr.com/166ab215c9a0bb3ba1b98e810652c3db/pjmcbps/OHEmr2kqz/tumblr_static_dsc_0298lol.jpg" class="img-responsive" alt="">
                                                </p>
                                                <div class="caption">
                                                    <div class="blur"></div>
                                                    <div class="caption-text">
                                                        <h3 style="padding:10px;">Mobile Phones</h3>
                                                        <p>Explorer the new brand and style with 50% Discount</p>
                                                        <a class="btn btn-info" href="https://plus.google.com/u/0/100371904807783155711/posts" target="_blank">Explore</a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-sm-4">
                                            <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                                                <p style="text-align:center;">
                                                    <img src="http://static.tumblr.com/166ab215c9a0bb3ba1b98e810652c3db/pjmcbps/OHEmr2kqz/tumblr_static_dsc_0298lol.jpg" class="img-responsive" alt="">
                                                </p>
                                                <div class="caption">
                                                    <div class="blur"></div>
                                                    <div class="caption-text">
                                                        <h3 style="padding:10px;">TV</h3>
                                                        <p>Explorer the new brand and style with 50% Discount</p>
                                                        <a class="btn btn-info" href="https://plus.google.com/u/0/100371904807783155711/posts" target="_blank">Explore</a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-sm-4">
                                            <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                                                <p style="text-align:center;">
                                                    <img src="http://static.tumblr.com/166ab215c9a0bb3ba1b98e810652c3db/pjmcbps/OHEmr2kqz/tumblr_static_dsc_0298lol.jpg" class="img-responsive" alt="">
                                                </p>
                                                <div class="caption">
                                                    <div class="blur"></div>
                                                    <div class="caption-text">
                                                        <h3 style="padding:10px;">Computer and Laptop</h3>
                                                        <p>Explorer the new brand and style with 50% Discount</p>
                                                        <a class="btn btn-info" href="https://plus.google.com/u/0/100371904807783155711/posts" target="_blank">Explore</a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="item">

                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                                                <p style="text-align:center;">
                                                    <img src="http://static.tumblr.com/166ab215c9a0bb3ba1b98e810652c3db/pjmcbps/OHEmr2kqz/tumblr_static_dsc_0298lol.jpg" class="img-responsive" alt="">
                                                </p>
                                                <div class="caption">
                                                    <div class="blur"></div>
                                                    <div class="caption-text">
                                                        <h3 style="padding:10px;">Washing Machines</h3>
                                                        <p>Explorer the new brand and style with 50% Discount</p>
                                                        <a class="btn btn-info" href="https://plus.google.com/u/0/100371904807783155711/posts" target="_blank">Explore</a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-sm-4">
                                            <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                                                <p style="text-align:center;">
                                                    <img src="http://static.tumblr.com/166ab215c9a0bb3ba1b98e810652c3db/pjmcbps/OHEmr2kqz/tumblr_static_dsc_0298lol.jpg" class="img-responsive" alt="">
                                                </p>
                                                <div class="caption">
                                                    <div class="blur"></div>
                                                    <div class="caption-text">
                                                        <h3 style="padding:10px;">Refregirator</h3>
                                                        <p>Explorer the new brand and style with 50% Discount</p>
                                                        <a class="btn btn-info" href="https://plus.google.com/u/0/100371904807783155711/posts" target="_blank">Explore</a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-sm-4">
                                            <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                                                <p style="text-align:center;">
                                                    <img src="http://static.tumblr.com/166ab215c9a0bb3ba1b98e810652c3db/pjmcbps/OHEmr2kqz/tumblr_static_dsc_0298lol.jpg" class="img-responsive" alt="">
                                                </p>
                                                <div class="caption">
                                                    <div class="blur"></div>
                                                    <div class="caption-text">
                                                        <h3 style="padding:10px;">Other Electonic Items</h3>
                                                        <p>Explorer the new brand and style with 50% Discount</p>
                                                        <a class="btn btn-info" href="https://plus.google.com/u/0/100371904807783155711/posts" target="_blank">Explore</a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        
                                    </div>

                                </div>

                       
                            </div>
                        </div>

                        <div class="controls pull-left hidden-xs">
                            <a class="left glyphicon glyphicon-chevron-left  btn btn-primary btn-xs" href="#carousel-Electronic"
                               data-slide="prev"></a>
                        </div>
                            <div class="controls pull-right hidden-xs">
                                <a class="right glyphicon glyphicon-chevron-right btn btn-primary btn-xs" href="#carousel-Electronic"
                                   data-slide="next"></a>
                            </div>
                        </div>
                </div>    
                 
            </div>
            }
            else
            {<div id="discountRefreshed">
                @myHtmlString
            </div>
            }
            <div id="discount"></div>
            </div>
    </div>
</div>



<div id="myModal" class="modal fade " role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            
                <div class="row">
                    <div class="content-tittle-box">
                        <h2>Are you going Out for Shopping??....</h2>
                        <center><h4>Spare a min and check out discounted shops by locations</h4></center>
                        <br>
                        <center><h6><i>Find huge discounts directly from shop owners by locations, search till location in km, visit the shop online and many more at<strong> Whooperbay.com</strong>.</i></h6></center>
</div>
                </div>
            

        </div>
    </div>
</div>


<script type="text/javascript">
    //Load
    window.onload = function load() {
        $('#myModal').modal('show');
        document.getElementById("errorPane").style.display = "none";
        document.getElementById("infoPane").style.display = "none";
    };

    google.maps.event.addDomListener(window, 'load', function () {
        var places = new google.maps.places.Autocomplete(document.getElementById('lookingAt'));
        google.maps.event.addListener(places, 'place_changed', function () {
            var place = places.getPlace();
            document.getElementById('lookingAtLat').value = place.geometry.location.lat();
            document.getElementById('lookingAtLng').value = place.geometry.location.lng();
        });
    });

    function FillSubCatgory(item) {
        if (item.value.length == 0)
        {
            return;
        }

        var procemessage = "<option value='0'> Please wait...</option>";
        $("#selectedSubCategory").html(procemessage).show();
        var url = "/Home/GetSubCatgoryByCategoryId/";

        $.ajax({
            url: url,
            data: { stateid: item.value },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>Sub Category</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                }
                $("#selectedSubCategory").html(markup).show();
            },
            error: function (reponse) {
                alert("something went wrong, please try new window");
            }
        });
    }

    String.format = function() {
    // The string containing the format items (e.g. "{0}")
    // will and always has to be the first argument.
    var theString = arguments[0];

    // start with the second argument (i = 1)
    for (var i = 1; i < arguments.length; i++) {
        // "gm" = RegEx options for Global search (more than one instance)
        // and for Multiline search
        var regEx = new RegExp("\\{" + (i - 1) + "\\}", "gm");
        theString = theString.replace(regEx, arguments[i]);
    }

    return theString;
    }


    function getDiscount(obj)
    {
        var url = "/Home/ExoplereSearch/";
        document.getElementById("banner").style.display = "none";
        $.ajax({
            url: url,
            data: { catId: obj.getAttribute('data-id'), subCatId: obj.getAttribute('data-subId'), searchText:'' },
            cache: false,
            type: "POST",
            success: function (data) {

                $("#discount").html(data);
            },
            error: function (reponse) {
                alert("something went wrong, please try new window");
            }
        });


    }

    function showModel() {
        document.getElementById("myModel").showModal();
    }

    function searchDiscount(){

        var categrory = document.getElementById("selectedCategory").value;
        if (categrory == null || categrory.length == 0) {
            document.getElementById("errorPane").style.display = "block";
            document.getElementById('error').innerHTML = "Selection of Category is Mandatory";
            return;
        }
        else
        {
            document.getElementById("errorPane").style.display = "none";
            document.getElementById('error').innerHTML = "";
        }
        var subCategory = document.getElementById("selectedSubCategory").value;
        var lookingAt = document.getElementById("lookingAt").value;      
        var lookingAtLat = document.getElementById("lookingAtLat").value;

        if (lookingAt.length != 0 && lookingAtLat.length == 0) {
            document.getElementById("infoPane").style.display = "block";
            document.getElementById('info').innerHTML = "Unable to recognize location hence result is not accurate, type slowly and select the value from dropdown only for accurate result";             
        }
        else {
            document.getElementById("infoPane").style.display = "none";
            document.getElementById('info').innerHTML = "";
        }
        var lookingAtLng = document.getElementById("lookingAtLng").value;
        var lookingFor = document.getElementById("lookingFor").value;
        var lookingBy = document.getElementById("lookingBy").value;
        var lookingTillDistance = document.getElementById("lookingTillDistance").value;
        if (lookingTillDistance == null || ((lookingTillDistance.length != 0) && isNaN(lookingTillDistance))) {
            document.getElementById("errorPane").style.display = "block";
            document.getElementById('error').innerHTML = "Search Till Km should be number";
            return;
        }
        else {
            document.getElementById("errorPane").style.display = "none";
            document.getElementById('error').innerHTML = "";
        }

        var url = "/Home/Search/";
        if (document.getElementById("banner") != null) {
            document.getElementById("banner").style.display = "none";
        }

        if (document.getElementById("discountRefreshed") != null) {
            document.getElementById("discountRefreshed").style.display = "none";
        }
        
        $.ajax({
            url: url,
            data: {categrory: categrory, subCategory: subCategory, lookingAt: lookingAt, lookingAtLat: lookingAtLat, lookingAtLng: lookingAtLng, lookingFor: lookingFor, lookingBy: lookingBy, lookingTillDistance: lookingTillDistance            },
            cache: false,
            type: "POST",
            success: function (data) {

                $("#discount").html(data);
            },
            error: function (reponse) {
                alert("something went wrong, please try new window");
            }
        });
    }
</script>